/* pagina mural */

@font-face {
  font-family: Poppins;
  src: url();
}
html{
  font-family: Poppins;
  min-height: 100%;
}
/* verde: rgb(31, 158, 26); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: url(./img/chapada___veu_de_noiva___0035-3.jpg);
  background-size: cover;
}

.label-captura {
  display: flex;
  justify-content: center;
}

.dash-right .avisos {
  width: 100%;
  color: rgb(255, 255, 255);
}

.dash-right .avisos .container {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-right .avisos .container .div-form {
  width: 95%;
}

.dash-right .avisos .container .div-form #form_postagem {
  width: 95%;
}

.dash-right .avisos .div-form label {
  width: 95%;
}

.dash-right .avisos .div-form input {
  width: 95%;
  border-radius: 22px;
  /* border: 2px solid rgb(22, 105, 19); */
  border: none;
  font-family: Poppins;
  margin-top: 10px;

}

.dash-right .avisos .div-form textarea {
  width: 95%;
  /* border: 2px solid rgb(22, 105, 19); */
  border: none;
  background-color: white;
  border-radius: 15px;
  font-family: Poppins;
  padding-left: 15px;
  padding-top: 15px;
  margin-top: 10px;

}

.dash-right .avisos .div-form button {
  cursor: pointer;
  border: 0;
  border-radius: 20px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: rgb(22, 105, 19);
  width: 120px;
}

.dash-right .avisos .div-form button:hover {
  background-color: rgb(17, 83, 15);
}

.publicacao-btn-editar {
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  background-color: rgb(22, 105, 19);
  width: 80px;
}

.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: none;
  padding: 20px;
}

.publicacao>*:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 100%;
}

.div-results .feed-container {
  background-color: rgb(0,0,0, 0.6);
  border-radius: 5px;
  margin-bottom: 80px;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons>* {
  margin-left: 30px;
}

/* pagina graficos */

.dash-header {
  background-color: rgb(0,0,0, 0.6);
}

.dash {
  width: 80%;
  position: relative;
  top: 0;
  left: 20%;
  height: 130vh;
  overflow: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.quest{
  width: 80%;
  color: white;
  margin-top: 15px;
  /* margin-left: 50px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titulo-quest{
  font-size: 40px;
  text-align: center;
  color: white;
  width: 70%;
  /* padding-top: 10px; */
}
.pergunta{
  width: 80%;
  height: 80  px;
  background-color: rgb(255, 255, 255, 0.95);
  color: rgb(0, 0, 0);
  border-radius: 33px;

  padding: 15px;
  /* margin-left: 40px; */
  margin-top: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

select{
  border: none;
  border-radius: 20px;
  background-color: rgb(214, 214, 214);
  width: 300px;
  height: 25px;
  font-size: 15px;
  padding-left: 20px;
}

.resultado{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  /* justify-content: center; */
}
.botaoR{
  border: none;
  border-radius: 20px;
  width: 100px;
  height: 40px;
  font-family: Poppins;
  background-color: white;

  margin-top: 10px;

  transition: 400ms;
}
.botaoR:hover{
  background-color: rgb(221, 221, 221);
  width: 120px;
}

.msg{
  font-family: Poppins;
  /* height: 40px; */
  color: white;
  text-align: center;
  text-justify: center;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.area-parametros-alerta {
  /* border: 2px solid pink; */
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  margin-top: 30px;
  background-color: rgb(0,0,0, 0.6);
}

.area-parametros-alerta .titulo-legenda {
  color: white;
  font-weight: 600;
  width: fit-content;
  margin: 10px 20px;
}

.parametros-alerta {
  display: flex;
  width: 100%;
}

.item-regua {
  width: 20%;
  text-align: center;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.item-regua p {
  margin: 0;
  font-weight: 500;
}

.item-regua p:nth-child(2) {
  font-weight: 800;
}

.perigo-frio {
  background-color: #f72828;
}

.perigo-quente {
  background-color: #51ff3a;
}

.alerta-frio {
  background-color: #ffb81f;
}

.alerta-quente {
  background-color: #85ff7a;
}

.ideal {
  background-color: #fcff56;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 450px;
  width: 100%;
  align-items: center;
  color: white;
}

.card-historico {
  margin: 2%;
  min-width: 40%;
  max-width: 50%;
  width: fit-content;
  flex-wrap: wrap;
  display: flex;
  /* text-align: center; */
  height: 180px;
  /* justify-content: right; */
  background-color: rgb(0,0,0, 0.6);
  font-size: 20px;
}

.card-historico h1 {
  width: fit-content;
}

.card-historico p {
  margin: 0;
  font-size: 50px;
  font-weight: lighter;
  text-align: left;
}

.desc-historico {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.desc-historico .cor-alerta {
  width: 30px;
}

.title-historico {
  width: 100%;
}


.cards h1 {
  font-size: 22px;
  border-bottom: solid white 1px;
  text-align: left;
  font-weight: lighter;
  margin: 20px;
}

.temperatura,
.umidade {
  margin: 5px;
  margin-left: 20px;
  width: 75%;
}

.cor-alerta {
  width: 13%;
  height: 30%;
  border-radius: 50%;
  display: inline-block;
}

.btns-dash {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
  padding: 0 30% 0 30%;
}

.graph {
  width: 70%;
  margin: auto;
  padding-top: 10px;
}

.tituloGraficos {
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
}

.btn-chart {
  font-family: Poppins;
  border: 0;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: rgb(22, 105, 19);
  background-color: #ffffff;
  margin: 5px;
  border-radius: 3px;
  cursor: pointer
}

.btn-pink {
  color: rgb(22, 105, 19);
  background-color: #ffffff;
}

.btn-white {
  color: rgb(22, 105, 19);
  background-color: #ffffff;

}

.label-captura {
  height: 80px;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.display-block {
  display: block;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

/* PAGINA DOS GRÁFICOS 2023 */

.janela {
  display: flex;
  width: 100%;
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* border-right: 3px solid #ffffff; */
  background-color: rgb(255,255,255, 1);
}

.dash-right {
  display: flex;
  width: 70%;
  height: fit-content;
  /* background-color: rgb(0,0,0, 0); */
  position: relative;
  top: 0;
  left: 25%;
  height: 100vh;
  overflow: auto;
}

.titulo{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-left h1 {
  color: rgb(31, 158, 26);
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: #000000;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav {
  width: 60%;
  color: rgb(255, 255, 255);
  background-color: rgb(22, 105, 19);
  border-radius: 18px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white {
  width: 60%;
  background-color: rgb(240, 235, 235);
  border: none;
  border-radius: 18px;
  text-align: center;
  padding: 2% 5%;
  transition: 400ms;
}

.btn-nav-white h3 {
  color: rgb(22, 105, 19);
  padding: 0;
  margin: 0;
}

.btn-nav h3{
  color:white
}
.btn-logout h3 {
  color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
  transition: 400ms;
}

.btn-nav-white:hover{
  background-color: rgb(221, 221, 221);
  width: 70%;
}


.graficoArea{
  height: 400px;
  width: 700px;
  background-color: rgb(255, 255, 255, 0.8);
  color: #000000;
  border-radius: 33px;

  padding: 10px;
  margin-top: 40px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

}

/* scrollbar{
  position: relative;
  right: -30px;
} */